<ul class="nav nav-pills">

{{#link-to 'marketing'  tagName='li' data-toggle="tab"}} <a {{bind-attr href="view.href"}}> Marketing</a>{{/link-to}} 
{{#link-to 'people'  tagName='li' data-toggle="tab"}} <a {{bind-attr href="view.href"}}>People</a>{{/link-to}} 
{{#link-to 'sales'  tagName='li' data-toggle="tab"}} <a {{bind-attr href="view.href"}}> Sales </a>{{/link-to}} 

{{#link-to 'messages'  tagName='li' data-toggle="tab"}} <a {{bind-attr href="view.href"}}> Messages </a>{{/link-to}} 

{{#link-to h tagName='li' data-toggle="tab" }} <a {{bind-attr href="view.href"}}> Customer Service </a>{{/link-to}}



</ul>
