<div class="row">
     
  <div class="panel panel-default">
  
     <div class="panel-heading">
       <h3 class="panel-title">  From: {{from}}</h3>
       <h3 class="panel-title">  To: {{to}} </h3>
     </div> <!-- closes .panel-heading -->
     
  <div class="panel-body">
      Subject: {{subject}}
         <br/>
      {{body}}
  </div><!-- closes .panel-body -->
  
  </div>  <!--  closes .panel-default -->   
       
        
      {{outlet}}
</div>
